#hero-image {
    background-image: url(https://wallpaperaccess.com/full/5185950.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top fixed;
    opacity: 0.8;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
