[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2 = "*"
django-heroku = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
